@page
@model UngCamTuanKietFall2024RazorPages.Pages.Lecturer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Category)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsArticle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>