@page
@model UngCamTuanKietFall2024RazorPages.Pages.Article.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsArticle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.Headline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.Headline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsSource)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsSource)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.Category.CategoryDesciption)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Staff/Article/Edit" asp-route-id="@Model.NewsArticle.NewsArticleId">Edit</a> |
    <a asp-page="/Staff/StaffPage">Back to List</a>
</div>
